html,body{padding:0;margin:0;}html{font-size:1em;}body{font-size:100%;}a img,:link img,:visited img{border:0;}
h1 { padding: 0 10px;}
p{padding: 0 10px;margin:0;font-family:Tahoma,Geneva,sans-serif;color:#515151;margin-bottom:10px;}
a{color:#00b4ff;text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
.hidden{display:none;}
.right{float:right;}
#albums{
  border: 1px solid #666;
  height: auto;
  overflow: hidden;
  margin:50px auto;
  padding: 20px;
  width: 1024px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 5px #CCC inset, 1px 1px 10px #000;
  -moz-box-shadow: 1px 1px 5px #CCC inset, 1px 1px 10px #000;
  box-shadow: 1px 1px 5px #CCC inset, 1px 1px 10px #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#CCC)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ececec, #CCC); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #ececec, #CCC); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #ececec, #CCC); /* IE10 */
  background-image:      -o-linear-gradient(top, #ececec, #CCC); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #ececec, #CCC);
}

#f{position:absolute;bottom:0;width:100%;background:#eee;border-top:1px solid #e5e5e5;}
#fc{margin:30px auto;width:524px;}
#fc p{color:#9b9b9b;font-size:.75em;}
#fc p.right{text-align:right;}
#tagline{font-size: 1.25em;}
.uh-oh{margin-top:75px;}

#controls{display: none;margin-top:25px;height:52px;overflow:hidden;width:100%;position:relative; width: 50px; float: left;}
#ctrl-play,#ctrl-pause{text-indent:-9999px;height:52px;width:51px;cursor:pointer;background:url('/images/controls-sprite.png') no-repeat;}
#ctrl-play{background-position:0 0;}
#ctrl-pause{background-position:0 -52px;}
.band-info {
    float: left;
    height: auto;
    overflow: hidden;
    margin: 0 10px 30px 0;
    position:relative;
    width: 245px;
}
.band-info:nth-child(4n+2) {
    margin-right: 0;
  }

.band-info p {
    border: 1px #FFF solid;
    display:block;
    margin: 2px;
    overflow:hidden;
    padding: 3px;
    white-space: normal;
    width: auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.band-info p:hover{
  background-color: #9cb9ba;
  border: 1px #627e7e solid;
  -webkit-box-shadow: 1px 1px 1px #627e7e inset;
  -moz-box-shadow: 1px 1px 1px #627e7e inset;
  box-shadow: 1px 1px 1px #627e7e inset;
}

.band-info p:hover a {
  color: #FFF;
}

#album-image { float:left; margin-right: 10px; padding-bottom: 20px;}
#album-image img {
    height: 110px;
  -webkit-box-shadow: 1px 1px 5px #000;
    -moz-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 5px #000;
    margin: 20px 0px 5px 5px;
}
#album-name {
  display: block;
  padding-top: 20px;
}
#album-name a {
  font-size: 15px;
  line-height: 18px;
  white-space: normal;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#album-name a:hover {
  color: #666;
}

.band-more{position:absolute;right:0;top:5px;}
.band-more p{text-align:right; font-size: 10px;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px 0 50px;
}

a {
  color: #00B7FF;
}
